<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
	</configSections>
	<enyim.com>
		<memcached protocol="Binary">
			<servers>
				<!-- make sure you use the same ordering of nodes in every configuration you have -->
				<add address="127.0.0.1" port="11222" />
			</servers>
			<socketPool minPoolSize="100" maxPoolSize="1000" connectionTimeout="00:02:00" deadTimeout="00:02:00" />
			
		</memcached>
	</enyim.com>
</configuration>